Repository OpenVicProject/OpenVic, pull requests merged in 2023-04, with the labels that each got.

#73 In game date
  .gitignore
  extension/src/Simulation.cpp
  extension/src/Simulation.hpp
  extension/src/openvic2/Date.cpp
  extension/src/openvic2/Date.hpp
Labels: enhancement, simulation

#89 Spring Cleaning
  extension/src/Simulation.cpp
  extension/src/Simulation.hpp
  extension/src/TestSingleton.cpp
  extension/src/TestSingleton.hpp
  extension/src/openvic2/GameAdvancementHook.cpp
  extension/src/openvic2/GameAdvancementHook.hpp
  extension/src/register_types.cpp
  game/src/MainMenu/MainMenu.gd
Labels: enhancement

#88 Further Map Stuff
  extension/src/MapSingleton.cpp
  extension/src/MapSingleton.hpp
  extension/src/openvic2/Date.cpp
  extension/src/openvic2/Date.hpp
  extension/src/openvic2/Map.cpp
  extension/src/openvic2/Map.hpp
  extension/src/openvic2/Province.cpp
  extension/src/openvic2/Province.hpp
  extension/src/openvic2/Region.cpp
  extension/src/openvic2/Region.hpp
  extension/src/openvic2/Types.cpp
  extension/src/openvic2/Types.hpp
  game/art/terrain/farmlands.png
  game/art/terrain/farmlands.png.import
  game/art/terrain/terrain.png.import
  game/common/map/provinces.json
  game/common/map/provinces.png
  game/common/map/regions.json
  game/common/map/water.json
  game/localisation/en_GB/mapmodes.csv
  game/localisation/en_GB/menus.csv
  game/localisation/en_GB/provinces.csv
  game/localisation/en_GB/regions.csv
  game/localisation/en_GB/regions.csv.import
  game/localisation/en_US/menus.csv
  game/localisation/fr_FR/menus.csv
  game/src/Autoload/Events.gd
  game/src/GameSession/GameSession.gd
  game/src/GameSession/GameSession.tscn
  game/src/GameSession/GameSessionMenu.gd
  game/src/GameSession/GameSessionMenu.tscn
  game/src/GameSession/MapControlPanel.gd
  game/src/GameSession/MapControlPanel.tscn
  game/src/GameSession/MapView.gd
  game/src/GameSession/MapView.tscn
  game/src/GameSession/ProvinceOverviewPanel.gd
  game/src/GameSession/ProvinceOverviewPanel.tscn
  game/src/GameSession/TerrainMap.gdshader
Labels: enhancement, ui, ui functionality, map, filesystem

#92 Added basic outlines of Canadian provinces + territories
  game/common/map/provinces.json
  game/common/map/provinces.png
  game/common/map/regions.json
  game/localisation/en_GB/provinces.csv
Labels: enhancement, map

#96 Altering .clang-format to make compliant with clang-format 10.0.0
  .clang-format
Labels: bug, confirmed

#93 Refurbish UI elements
  game/localisation/en_GB/menus.csv
  game/project.godot
  game/src/GameMenu.tscn
  game/src/GameSession/GameSession.tscn
  game/src/GameSession/GameSessionMenu.gd
  game/src/GameSession/GameSessionMenu.tscn
  game/src/GameSession/GameSpeedPanel.gd
  game/src/GameSession/GameSpeedPanel.tscn
  game/src/GameSession/MapControlPanel.tscn
  game/src/GameSession/MapView.gd
  game/src/GameSession/ProvinceOverviewPanel.gd
  game/src/GameSession/ProvinceOverviewPanel.tscn
  game/src/MainMenu/MainMenu.tscn
  game/src/MusicConductor/MusicPlayer.tscn
  game/src/Utility/StyleBoxWithSound.gd
  game/theme/game_session_menu.tres
  game/theme/main_menu.tres
Labels: bug, enhancement

#98 Req comments + cleanup + c++ registry refactoring
  extension/src/GameSingleton.cpp
  extension/src/GameSingleton.hpp
  extension/src/openvic2/GameAdvancementHook.cpp
  extension/src/openvic2/GameAdvancementHook.hpp
  extension/src/openvic2/GameManager.cpp
  extension/src/openvic2/GameManager.hpp
  extension/src/openvic2/Logger.cpp
  extension/src/openvic2/Logger.hpp
  extension/src/openvic2/Types.hpp
  extension/src/openvic2/map/Building.cpp
  extension/src/openvic2/map/Building.hpp
  extension/src/openvic2/map/Map.cpp
  extension/src/openvic2/map/Map.hpp
  extension/src/openvic2/map/Province.cpp
  extension/src/openvic2/map/Province.hpp
  extension/src/openvic2/map/Region.hpp
  game/localisation/en_GB/menus.csv
  game/src/Autoload/Events.gd
  game/src/GameSession/GameSession.gd
  game/src/GameSession/GameSessionMenu.gd
  game/src/GameSession/GameSpeedPanel.gd
  game/src/GameSession/MapView.gd
  game/src/GameSession/ProvinceOverviewPanel.gd
  game/src/GameSession/ProvinceOverviewPanel.tscn
  game/src/GameSession/TerrainMap.gdshader
Labels: enhancement, ui, map

#101 Dynamic minimap + vertical map subdivision
  extension/src/GameSingleton.cpp
  extension/src/GameSingleton.hpp
  extension/src/MapMesh.cpp
  extension/src/MapMesh.hpp
  extension/src/openvic2/map/Map.cpp
  extension/src/openvic2/map/Map.hpp
  game/art/ui/minimap.png
  game/art/ui/minimap.png.import
  game/art/ui/minimap_frame.png
  game/art/ui/minimap_frame.png.import
  game/project.godot
  game/src/Autoload/Events.gd
  game/src/Autoload/Events/GameDebug.gd
  game/src/Autoload/Events/ShaderManager.gd
  game/src/Autoload/Resolution.gd
  game/src/GameSession/GameSession.tscn
  game/src/GameSession/MapControlPanel.gd
  game/src/GameSession/MapControlPanel.tscn
  game/src/GameSession/MapView.gd
  game/src/GameSession/MapView.tscn
  game/src/GameSession/Minimap.gd
  game/src/GameSession/Minimap.gdshader
  game/src/GameSession/ProvinceIndexSampler.gdshaderinc
  game/src/GameSession/TerrainMap.gdshader
Labels: enhancement, ui, ui functionality, map

#100 Addition of goods struct
  extension/src/GameSingleton.cpp
  extension/src/openvic2/GameManager.cpp
  extension/src/openvic2/GameManager.hpp
  extension/src/openvic2/Good.cpp
  extension/src/openvic2/Good.hpp
  extension/src/openvic2/Types.cpp
  extension/src/openvic2/Types.hpp
  extension/src/openvic2/map/Map.cpp
  extension/src/openvic2/map/Map.hpp
  extension/src/openvic2/map/Province.cpp
  extension/src/openvic2/map/Province.hpp
  extension/src/openvic2/map/Region.cpp
  extension/src/openvic2/map/Region.hpp
  game/common/data/goods-jca.json
  game/common/data/goods.json
Labels: enhancement

#103 Cosmetic terrain + Hashmaps
  extension/src/GameSingleton.cpp
  extension/src/GameSingleton.hpp
  extension/src/openvic2/Date.cpp
  extension/src/openvic2/GameAdvancementHook.cpp
  extension/src/openvic2/GameManager.cpp
  extension/src/openvic2/GameManager.hpp
  extension/src/openvic2/Good.hpp
  extension/src/openvic2/Logger.cpp
  extension/src/openvic2/Types.cpp
  extension/src/openvic2/Types.hpp
  extension/src/openvic2/map/Building.cpp
  extension/src/openvic2/map/Building.hpp
  extension/src/openvic2/map/Map.cpp
  extension/src/openvic2/map/Map.hpp
  extension/src/openvic2/map/Province.cpp
  extension/src/openvic2/map/Province.hpp
  extension/src/openvic2/map/Region.cpp
  extension/src/openvic2/map/Region.hpp
  game/art/terrain/desert_rocky.png
  game/art/terrain/desert_rocky.png.import
  game/art/terrain/desert_smooth.png
  game/art/terrain/desert_smooth.png.import
  game/art/terrain/mountains.png
  game/art/terrain/mountains.png.import
  game/art/terrain/ocean.png
  game/art/terrain/ocean.png.import
  game/common/map/terrain.json
  game/common/map/terrain.png
  game/common/map/terrain.png.import
  game/src/Autoload/Events.gd
  game/src/Autoload/Events/ShaderManager.gd
  game/src/GameSession/GameSession.tscn
  game/src/GameSession/MapControlPanel.gd
  game/src/GameSession/MapControlPanel.tscn
  game/src/GameSession/MapView.gd
  game/src/GameSession/MapView.tscn
  game/src/GameSession/Minimap.gd
  game/src/GameSession/Minimap.gdshader
  game/src/GameSession/ProvinceOverviewPanel.gd
  game/src/GameSession/TerrainMap.gdshader
Labels: enhancement, map
